[submodule "Sysgit"]
	path = Sysgit
	url = https://github.com/AmateurECE/Sysgit
[submodule "Emacs-Extensions"]
	path = Emacs-Extensions
	url = https://github.com/AmateurECE/Emacs-Extensions
[submodule "bug-tool"]
	path = bug-tool
	url = https://github.com/AmateurECE/bugs
[submodule "designdoc"]
	path = designdoc
	url = ssh://edtwardy@edtwardy.hopto.org:5000/home/edtwardy/Git/Serve/designdoc/
